body, html {
	overflow-x: hidden;
}

/* ------ TOP TEXT ------ */
main div.container div.top {
	display: grid;
	grid-template-columns: 100%;
}

@media only screen and (min-width: 768px) {
	main div.container div.top {
		grid-template-columns: 50% 50%;
	}
}

main div.container div.top div.title h1 {
	margin: 0;
	font-size: 4em;
}

main div.container div.top div.title h1 span.underline {
	border-bottom: .05em solid var(--main-secondary);
}

main div.container div.top div.title p.small {
	margin: 0;
	font-size: 1.5em;
}

main div.container div.top div.search-button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

main div.container div.top div.search-button label {
	box-sizing: border-box;
	width: 100%;
	padding: 1em;
	background-color: var(--main-secondary);
	color: var(--main-fg-secondary);
	border-radius: .3em;
	text-align: center;
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	main div.container div.top div.search-button label {
		width: auto;
		padding: 1em 4em;
	}
}

/* ------ SEARCH BOX ------ */
main div.container form.search-box {
	display: grid;
	grid-template:
		'title' auto
		'director' auto
		'genre' auto
		'year' auto
		'submit' auto
		/ 100%;
	/* gap: 1em; */
	/* width: calc(100% - 1em); */
	max-height: 0;
	overflow-y: hidden;
	transition:
		max-height .3s ease,
		padding .3s ease;
}

@media only screen and (min-width: 768px) {
	main div.container form.search-box {
		grid-template:
			'title director' auto
			'genre year' auto
			'submit submit' auto
			/ 50% 50%;
	}
}

main div.container input[type="checkbox"]#search-box:checked + form.search-box {
	max-height: 100vh;
	padding: 2em 0 1em;
}

main div.container form.search-box input {
	width: calc(100% - 2 * 1em);
	padding: 1em;

	color: var(--main-fg);
	border: none;
	border-bottom: 0.2em solid var(--main-secondary);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: #2c2c2c;
}

main div.container form.search-box input::placeholder {
	color: #cccccc;
}

main div.container form.search-box button {
	width: 100%;
	height: 50px;

	transition: all 0.2s;

	color: var(--main-bg-darker);
	border: none;
	border-radius: 8px;
	background: var(--main-secondary);
}

main div.container form.search-box button:hover {
	cursor: pointer;
	transform: scale(0.97);

	outline: none;
}

main div.container form.search-box button:active {
	cursor: pointer;
	transform: scale(0.95);

	outline: none;
}

main div.container form.search-box select {
	width: 100%;
	padding: 1em;
	background-color: #2c2c2c;
	color: var(--main-fg);
	border: none;
	border-bottom: .2em solid var(--main-secondary);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

main div.container form.search-box > div {
	padding: 1em;
}

main div.container form.search-box div.filter-title {
	grid-area: title;
}

main div.container form.search-box div.filter-director {
	grid-area: director;
}

main div.container form.search-box div.filter-genre {
	grid-area: genre;
}

main div.container form.search-box div.filter-year {
	grid-area: year;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 1em;
}

main div.container form.search-box div.submit {
	grid-area: submit;
}

/* ------ GENRE CONTAINERS ------ */
main div.container div.genres {
	display: grid;
	grid-template-columns: 100%;
	gap: 2em;
	margin: 2em 0;
}

main div.container div.genres div.genre {
	--button-wrapper-width: 6em;

	display: grid;
	grid-template-columns: 100%;
}

main div.container div.genres div.genre h1.name {
	display: flex;
	align-items: center;
	font-size: 3em;
}

/* ------ GENRE CONTAINERS - genre pop out ------ */
main div.container div.genres div.genre div.genre-bar-wrapper {
	position: relative;
	min-height: 16em;
}

main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar {
	height: 100%;
}

main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.toggle {
	display: none;
}

/* TODO: Maybe change to desktop only */
@media only screen and (min-width: 768px) {
	main div.container div.genres div.genre {
		grid-template-columns: 50% 50%;
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar {
		display: flex;
		flex-direction: row;
		position: absolute;
		top: 0;
		left: calc(var(--button-wrapper-width) * -1);
		width: calc(200% + var(--button-wrapper-width));
		height: 100%;
		transition:
			left 1s ease,
			margin-left 1s ease;
	}

	main div.container div.genres div.genre div.genre-bar-wrapper input[type="checkbox"]:checked + div.genre-bar {
		left: -100%;
		margin-left: calc(var(--button-wrapper-width) * -1);
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--button-wrapper-width);
		height: 100%;
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.toggle label {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3em;
		height: 3em;
		background-color: var(--main-fg);
		border-radius: 100em;
		transform: rotate(0deg);
		cursor: pointer;
		transition:
			background-color .3s ease,
			transform 1s ease;
	}


	main div.container div.genres div.genre div.genre-bar-wrapper input[type="checkbox"]:checked + div.genre-bar div.toggle label {
		transform: rotate(180deg);
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.toggle label:hover {
		background-color: var(--main-secondary);
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.toggle label svg {
		height: 75%;
		color: var(--main-fg-secondary);
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background {
		width: calc(100% - var(--button-wrapper-width));
	}
}

/* ------ GENRE CONTAINERS - actual box ------ */
main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	gap: 2em;
	width: 100%;
	height: 100%;
	padding: 2em;
	background-color: var(--main-bg-lighter);
	border-radius: 2em;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

/* GENRE CONTAINERS - movie with clickable poster ------ */
main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film {
	display: block;
	flex: 0 0 auto;
	position: relative;
	width: 8em;
	height: 100%;
	color: var(--main-fg);
	border-radius: .3em;
	text-decoration: none;
	overflow: hidden;
}

main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film div.poster {
	display: flex;
	align-items: center;
	height: 100%;
	transform: scale(1);
	transition: transform .3s ease;
}

main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film div.poster img {
	max-width: 100%;
}

/* TODO: Maybe show the title above the poster */
main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film div.hover {
	display: none;
}

@media only screen and (min-width: 1250px) {
	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background::after {
		content: '';
		/* only works on firefox... */
		/* hacky way to force the padding on the right (from this site, altered to work: https://chenhuijing.com/blog/flexbox-and-padding/ -> Using the ::after pseudo-element) */
		padding-right: 0.01px;
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film div.hover {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 1em;
		background-color: rgba(0, 0, 0, .5);
		font-size: .75em;
		font-weight: bold;
		text-transform: uppercase;
		/* clip-path: inset(100% 100% 0 100%); */
		/* transition: clip-path .3s ease; */
		opacity: 0;
		transition: opacity .3s ease;
		z-index: 1;
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film:hover div.hover {
		/* clip-path: inset(100% 100% 100% 100%); */
		opacity: 1;
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film:hover div.poster {
		transform: scale(1.1);
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film div.hover div.title {
		font-size: 1.25em;
		text-align: center;
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film div.hover div.title-small {
		text-align: center;
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film div.hover div.play-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2em;
		height: 2em;
		transform: translateX(-50%) translateY(-50%);
		color: var(--main-fg);
		transition: color .3s ease;
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film div.hover div.play-btn:hover {
		color: var(--main-secondary);
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film div.hover div.play-btn svg {
		width: 100%;
		height: 100%;
	}

	main div.container div.genres div.genre div.genre-bar-wrapper div.genre-bar div.bar-background a.film div.hover div.playtime {
		margin-top: auto; /* aligns item on the bottom */
	}
}
