@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* joram is enge css hacker, ik kan niet tegen hem op */

body, html {
	margin: 0;
	padding: 0;
	background-color: var(--main-bg);
	color: var(--main-fg);
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

/* ------ HEADER ------ */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);
	background-color: var(--main-bg);
	box-shadow: 0 .3em .5em rgba(0, 0, 0, .25);
	z-index: 100;
}

header nav {
	position: relative;
	width: 100%;
	height: 100%;
}

/* ------ HEADER - left link to homepage ------ */
header nav div.left {
	float: left;
	height: 100%;
}

header nav div.left a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 0 1em;
	font-size: 2em;
	text-decoration: none;
}

header nav div.left a img {
	max-height: 40%;
}

/* ------HEADER - menu button ------ */
header nav label.menu-btn {
	display: none;
}

header nav label.menu-btn label.btn {
	display: none;
}

@media only screen and (max-width: 767px) {
	header nav label.menu-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		float: right;
		width: var(--header-height);
		height: 100%;
		cursor: pointer;
	}

	header nav label.menu-btn span.btn {
		display: block;
		position: relative;
		width: 65%;
		height: 5%;
		color: var(--main-fg);
		background-image: linear-gradient(currentColor, currentColor);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center right;
		border-radius: .3em;
		transform: scale(1);
		transition:
			transform .3s ease,
			background-size .3s ease;
	}

	header nav label.menu-btn span.btn::before,
	header nav label.menu-btn span.btn::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: inherit;
		border-radius: inherit;
		transition: inherit;
	}

	header nav label.menu-btn span.btn::before {
		transform: translateY(-350%);
	}

	header nav label.menu-btn span.btn::after {
		transform: translateY(350%);
	}

	header nav input[type="checkbox"]:checked + label.menu-btn span.btn {
		background-size: 0 100%;
	}

	header nav input[type="checkbox"]:checked + label.menu-btn span.btn::before {
		transform: rotate(-45deg) translateY(0);
	}

	header nav input[type="checkbox"]:checked + label.menu-btn span.btn::after {
		transform: rotate(45deg) translateY(0);
	}
}

/* ------ HEADER - right/dropdown menu ------ */
/* PHONE */
@media only screen and (max-width: 767px) {
	header nav div.right {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%; /* Under the header element */
		left: 100%; /* initial position, when menu-btn is toggled, it slides out to the left (left: 0) */
		width: 100%;
		height: calc(100vh - var(--header-height));
		background-color: var(--main-bg);
		box-shadow: inset 0 .3em .5em rgba(0, 0, 0, .25); /* Element overlaps header shadow, so this way it looks like there is still a shadow */
		font-weight: bold;
		transition: left .3s ease;
		overflow: auto;
	}
	
	header nav input[type="checkbox"]:checked ~ div.right {
		left: 0;
	}

	header nav div.right > ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		margin: 1em 0;
		padding: 0;
	}

	header nav div.right > ul > li:not(:first-of-type) {
		border-top: solid .1em var(--main-bg-lighter);
	}

	header nav div.right > ul > li a {
		display: flex;
		align-items: center;
		padding: 1em;
		color: var(--main-fg);
		text-decoration: none;
	}

	header nav div.right > ul > li > ul {
		list-style-type: none;
		padding: 0;
	}

	header nav div.right > ul > li > ul li {
		border-top: solid .1em var(--main-bg-lighter);
	}

	header nav div.right > ul > li > ul li a {
		padding: .5em;
		padding-left: 2em;
	}
}

/* TABLET AND DESKTOP */
@media only screen and (min-width: 768px) {
	header nav div.right {
		display: flex;
		flex-direction: row;
		float: right;
		height: 100%;
		font-weight: bold;
	}

	header nav div.right > ul {
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 1em;
		padding: 0;
	}

	header nav div.right > ul > li {
		position: relative;
		min-width: 10em;
		height: 100%;
	}

	header nav div.right > ul > li::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 5%;
		background-color: var(--main-secundairy);
		transform: scaleX(0);
		transform-origin: right center;
		transition: transform .3s ease;
	}

	header nav div.right > ul > li:hover::after {
		transform: scaleX(1);
		transform-origin: left center;
	}
	
	header nav div.right > ul > li > a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 0 1em;
		color: var(--main-fg);
		text-decoration: none;
	}

	header nav div.right > ul > li > ul {
		list-style-type: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		max-height: 0px;
		padding: 0;
		background-color: var(--main-bg);
		box-shadow: 0 .1em .3em rgba(0, 0, 0, .25);
		overflow: hidden;
	}

	header nav div.right > ul > li:hover > ul {
		max-height: 100vh;
	}

	header nav div.right > ul > li > ul > li {
		width: 100%;
		height: 100%;
		text-align: left;
	}
	
	header nav div.right > ul > li > ul > li a {
		box-sizing: border-box;
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: .5em 1em;
		background-color: transparent;
		color: var(--main-fg);
		text-decoration: none;
		transition: background-color .3s ease;
	}

	header nav div.right > ul > li > ul > li a:hover {
		background-color: rgba(255, 2555, 255, .15);
	}
}

/* ------ MAIN ------ */
main {
	min-height: calc(100vh - var(--header-height));
	margin-top: var(--header-height);
}

main div.container {
	width: 100%;
	margin: 0 auto;
	padding: 1em 0;
}

@media only screen and (min-width: 768px) {
	main div.container {
		width: 80%;
	}
}

@media only screen and (min-width: 1250px) {
	main div.container {
		width: 90%;
	}
}

/* ------ FOOTER ------ */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	background-color: var(--main-secundairy);
	color: var(--main-fg-secundairy);
	text-align: center;
}

footer a {
	color: inherit;
}

@media only screen and (min-width: 1250px) {
	footer a {
		transition: color .3s ease;
	}

	footer a:hover {
		color: rgba(0, 0, 0, .6);
	}
}
