body {
  background: url("../../../resources/images/movie-posters/action/born_to_raise_hell.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
