div.wrapper {
  background: url("../../resources/images/movie-posters/action/badboys_for_life.jpeg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
